<%- include('_header'); -%>
<img src="/images/about.jpg" alt="about">
<h3>
<p>To bring you a truly authentic pizza experience our dough is still freshly made</p>
<p>every day in store and we ensure that only the best ingredients are used.</p>
</h3>
<%- include('_footer'); -%>