<%- include('_header'); -%>

<!--<h1>Welcome to Ryan's Pizza!</h1>-->
<!-- The sidebar -->
<link rel="stylesheet" href="/css/menu_sidebar.css">
<div class="sidebar">
<h2>Menu</h2>
  <a href="/pizzas">Pizzas</a>
  <a href="/side_order">Side Orders</a>
  <a href="/drinks">Drinks</a>
</div>

<!-- Page content -->
<div class="content">
<h2>Welcome to Ryan's Pizza</h2>
<img src="/images/ryansPizza.jpg" alt="Ryan's Pizza" style="width:500px;height:500px">
<hr>
<h2>Home of the Wigwammer</h2>
<img src="/images/wigwammer.jpg" alt="Wigwammer" style="width:500px;height:500px">
<hr>
<h3>
<p>To bring you a truly authentic pizza experience our dough is freshly made</p>
<p>every day in store and we ensure that only the best ingredients are used.</p>
</h3>
<img src="/images/about.jpg" alt="about">
<hr>
<center><p>Ryan's Pizzarelli House</p>
<p>Ballyphehane</p>
<p>Cork</p>
<p>Ireland</p>
<p>Phone : 0851731697</p>
<p>Email : ryank@gmail.com</p>
</div>


	
<%- include("_footer"); -%>